@import '../../style/variables.scss';

.header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 0px 40px 0px;
    padding-left: 20px;
    margin-bottom: 60px;
    position: relative;

    @include breakpoint(md) {
        padding-left: 0px;
    }

    &__menu {
        @include breakpoint(md) {
            display: none;
        }

        &__toggle {
            color: $white;
            z-index: 10;
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 10px;


            svg {
                font-size: 2rem;
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0px;
            bottom: 0px;
            right: 0px;
            padding: 3rem;
            width: 70vw;
            max-width: 400px;
            height: 100vh;
            outline: 0;
            background: $dark;
            z-index: 9;
            transform: translateX(100vw);
            opacity: 0;
            transition: all 0.3s ease;
        }


        .show {
            transform: translateX(0vw);
            opacity: 1;
        }
    }

}

.modify {
    background: $grdient;
}