@import './../../style/variables.scss';

.nav {
    display: flex;
    color: $white;
    align-items: center;

    ul {
        display: flex;
        gap: 10px;

        a {
            text-decoration: none;
            color: $white;
        }
    }

}